<h1>Ficha Tecnica</h1>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Técnica</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2, h3 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        .section {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Ficha Técnica</h1>

        <div class="section">
            <h2>Datos Ficha Técnica</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <td> 1 </td>
                </tr>
                <tr>
                    <th>Fecha Inicio</th>
                    <td> 18/07/2024 </td>
                </tr>
                <tr>
                    <th>Fecha Finalización</th>
                    <td>19/07/2024</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>Formateo de PC</td>
                </tr>
               
            </table>
        </div>

        <div class="section">
            <h2>Datos relevantes del Cliente</h2>
            <table>
                <tr>
                    <th>Nombre</th>
                    <td>Juanito</td>
                    <th>Apellido</th>
                    <td>Perez</td>
                    <th>Correo</th>
                    <td>juan@gmail.com</td>
                    <th>Direccion</th>
                    <td>Acacias 999</td>
                </tr>
                <tr>
                    <th>Contacto</th>
                    <td>918878789</td>
                </tr>
                
            </table>
        </div>

        <div class="section">
            <h2>Datos recepción de equipos</h2>
            <table>
                <tr>
                    <th>Modelo</th>
                    <td>ROG</td>
                </tr>
                <tr>
                    <th>Serial</th>
                    <td>AJ9J146851</td>
                </tr>
                
            </table>
        </div>

        <div class="section">
            <h2>Diagnóstico y Soluciones</h2>
            <table>
                <tr>
                    <th>Diagnóstico</th>
                    <td>Falla del sistema operativo y problemas con la RAM</td>
                </tr>
                <tr>
                    <th>Solución</th>
                    <td>Reinstalacion del sistema operativo y cambio de RAM</td>
                </tr>
                
            </table>
        </div>

        <div class="section">
            <h2>Observaciones y Recomendaciones</h2>
            <table>
                <tr>
                    <th>Observaciones</th>
                    <td>encender computador y comprobar la memoria que funcione correctamente</td>
                </tr>
                <tr>
                    <th>Recomendaciones</th>
                    <td>en caso de alguna falla, recurrir a nosotros nuevamente</td>
                </tr>
                
            </table>
        </div>
    </div>
</body>
</html>


